body {
    font-family: Arial, sans-serif;
    background-size: cover;
    background-color: #8585bad5;
    background-image: url('files/Tisch.webp');
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}
